@model List<SmallCrm.Core.Model.Customer>

<ul class="list-group js-customer-list">
    @{
        foreach (var customer in Model)
        {
            <li class="list-group-item">
                @customer.VatNumber 
            </li>
        }
    }
</ul>
